<?xml version="1.0"?>
<launch>
  <!-- UAV1 - Circle Trajectory -->
  <group ns="uav1">
    <node pkg="example_multi_uav_coordination" type="multi_uav_coordination.py" name="multi_uav_coordination" output="screen">
      <!-- Basic required parameters -->
      <param name="frame_id" value="gps_origin" />
      <param name="trajectory_type" value="circle" />
      <param name="center/x" value="0.0" />
      <param name="center/y" value="0.0" />
      <param name="center/z" value="3.0" />
      <param name="dimensions/x" value="10.0" />  <!-- Circle diameter -->
      <param name="dimensions/y" value="10.0" />
      <param name="frame_id" value="world_origin" />
      
      <!-- Service remappings -->
      <remap from="~control_manager_diag_in" to="/uav1/control_manager/diagnostics" />
      <remap from="~path_out" to="trajectory_generation/path" />
    </node>
  </group>
  
  <!-- UAV2 - Same setup -->
  <group ns="uav2">
    <node pkg="example_multi_uav_coordination" type="multi_uav_coordination.py" name="multi_uav_coordination" output="screen">
      <!-- ADD SAME PARAMETERS -->
      <param name="trajectory_type" value="circle" />
      <param name="center/x" value="0.0" />
      <param name="center/y" value="0.0" />
      <param name="center/z" value="5.0" />  <!-- Different altitude -->
      <param name="dimensions/x" value="10.0" />
      <param name="dimensions/y" value="10.0" />
      <param name="frame_id" value="world_origin" />
      
      
      <remap from="~control_manager_diag_in" to="/uav2/control_manager/diagnostics" />
      <remap from="~path_out" to="trajectory_generation/path" />
    </node>
  </group>
  
  <!-- UAV3 - Same setup -->
  <group ns="uav3">
    <node pkg="example_multi_uav_coordination" type="multi_uav_coordination.py" name="multi_uav_coordination" output="screen">
      <!-- ADD SAME PARAMETERS -->
      <param name="trajectory_type" value="circle" />
      <param name="center/x" value="0.0" />
      <param name="center/y" value="0.0" />
      <param name="center/z" value="7.0" />  <!-- Different altitude -->
      <param name="dimensions/x" value="10.0" />
      <param name="dimensions/y" value="10.0" />
      <param name="frame_id" value="world_origin" />
     
      
      <remap from="~control_manager_diag_in" to="/uav3/control_manager/diagnostics" />
      <remap from="~path_out" to="trajectory_generation/path" />
    </node>
  </group>
</launch>